<mat-card>
  <form [formGroup]="form">
    <mat-card-header>
      <mat-card-title> Добавить машину </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="tw-flex tw-gap-x-5">
        <mat-form-field class="tw-basis-1/4">
          <mat-label>Модель</mat-label>
          <input
            formControlName="model"
            type="text"
            matInput
            placeholder="Введи модель"
          />
          <mat-error *ngIf="form.controls['model'].hasError('required')">
            Введи модель
          </mat-error>
        </mat-form-field>

        <mat-form-field class="tw-basis-1/4">
          <mat-label>Тип машины</mat-label>
          <mat-select formControlName="truckType">
            <mat-option
              [value]="type"
              *ngFor="let type of truckTypes; trackByIndex"
            >
              {{ type }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['truckType'].hasError('required')">
            Выбери тип машины
          </mat-error>
        </mat-form-field>

        <mat-form-field class="tw-basis-1/4">
            <mat-label>Тип кузова</mat-label>
            <mat-select formControlName="trailerType">
              <mat-option
                [value]="type"
                *ngFor="let type of trailerTypes; trackByIndex"
              >
                {{ type }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['trailerType'].hasError('required')">
              Выбери тип кузова
            </mat-error>
          </mat-form-field>

          <mat-form-field class="tw-basis-1/4">
            <mat-label>Грузоподъемность, тонн</mat-label>
            <input
              formControlName="trailerLift"
              type="text"
              appOnlyNumbers
              matInput
              placeholder="Введи грузоподъемность"
            />
            <mat-error *ngIf="form.controls['trailerLift'].hasError('required')">
              Введи грузоподъемность
            </mat-error>
          </mat-form-field>
      </div>
      <div class="tw-flex tw-gap-x-5 tw-items-center">
        <mat-form-field class="tw-basis-1/4">
          <mat-label>Объем, м3</mat-label>
          <input
            formControlName="trailerSize"
            type="text"
            appOnlyNumbers
            matInput
            placeholder="Введи объем"
          />
          <mat-error *ngIf="form.controls['trailerSize'].hasError('required')">
            Введи объем
          </mat-error>
        </mat-form-field>

        <mat-form-field class="tw-basis-2/4">
          <mat-label>Описание машины</mat-label>
          <input
            formControlName="truckDescription"
            type="text"
            matInput
            placeholder="Введи описание"
          />
          <mat-error *ngIf="form.controls['truckDescription'].hasError('required')">
            Введи описание машины
          </mat-error>
        </mat-form-field>

        <div class="tw-flex tw-gap-5 tw-basis-1/4">
          <button
            color="primary"
            mat-stroked-button
            (click)="modelImage.click()"
          >
            <span>Фотография машины</span>
            <input
              formControlname="modelImage"
              class="tw-hidden"
              #modelImage
              type="file"
              (change)="onFileSelected($event)"
            />
          </button>
          <mat-icon
            *ngIf="form.controls['modelImage'].valid"
            class="tw-text-green-600 tw-mt-1"
            >check_circle</mat-icon
          >
        </div>

      </div>
    </mat-card-content>
  </form>
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
</mat-card>
<div class="tw-flex tw-justify-end tw-mt-5">
  <button
      (click)="next()"
      [disabled]="!this.form.valid"
      mat-raised-button
      color="primary"
    >
      Продолжить
    </button>
</div>
