<mat-toolbar *ngIf="user$ | async as user" color="primary">
  <button
    mat-icon-button
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>KrugWagen</span>
  <div *ngIf="profileType === UserTypes.CARRIER" class="tw-flex tw-gap-x-5 tw-ml-5 tw-mt-1">
    <button mat-flat-button color="primary">Поиск грузов</button>
    <button (click)="addTruck()" mat-flat-button color="primary">Добавить машину</button>
  </div>
  <span class="example-spacer"></span>
  <button
    (click)="goToProfile()"
    mat-icon-button
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    (click)="logout()"
    mat-icon-button
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
