<mat-toolbar *ngIf="user$ | async as user" color="primary">
  <span>KrugWagen</span>
  <ng-container *ngIf="profileType$ | async as profileType">
    <div *ngIf="profileType === UserTypes.CARRIER" class="tw-flex tw-gap-x-5 tw-ml-5 tw-mt-1">
      <button (click)="findCargo()" mat-flat-button color="primary">Поиск грузов</button>
      <button  mat-flat-button color="primary">Рейсы</button>
      <button mat-button [matMenuTriggerFor]="menu">Транспорт</button>
      <mat-menu #menu="matMenu">
        <button (click)="addTruck()" mat-menu-item>Добавить транспорт</button>
        <button mat-menu-item>Автопарк</button>
      </mat-menu>
    </div>
    <div *ngIf="profileType === UserTypes.PRODUCER" class="tw-flex tw-gap-x-5 tw-ml-5 tw-mt-1">
      <button (click)="showCargoList()" mat-flat-button color="primary">Ваши грузы</button>
      <button (click)="addCargo()" mat-flat-button color="primary">Добавить груз</button>
    </div>
  </ng-container>
  <span class="example-spacer"></span>
  <button
    *ngIf="profileType$ | async"
    (click)="goToProfile(user.id)"
    mat-icon-button
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <button
    (click)="logout()"
    mat-icon-button
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
