<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Статус">
      <th mat-header-cell *matHeaderCellDef>Статус</th>
      <td mat-cell *matCellDef="let cargo">
        <div class="status" [ngClass]="setStatusColor(cargo.status)">{{ cargo.status }}</div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="Откуда">
      <th mat-header-cell *matHeaderCellDef>Откуда</th>
      <td mat-cell *matCellDef="let cargo">{{ cargo.uploadingCity }}</td>
    </ng-container>
  
    <ng-container matColumnDef="Куда">
      <th mat-header-cell *matHeaderCellDef>Куда</th>
      <td mat-cell *matCellDef="let cargo">
        <ng-container *ngFor="let destination of cargo.unloading; trackByIndex">
          <div>
            {{ destination.unloadingCity }}
          </div>
        </ng-container>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="Дата загрузки">
      <th mat-header-cell *matHeaderCellDef>Дата загрузки</th>
      <td mat-cell *matCellDef="let cargo">
        {{ cargo.date | date: "dd.MM.yyyy" }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="Вес, т / объём, м3">
      <th mat-header-cell *matHeaderCellDef>Вес, т / объём, м3</th>
      <td mat-cell *matCellDef="let cargo">
        {{ cargo.weight }} / {{ cargo.size }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="Наименование груза">
      <th mat-header-cell *matHeaderCellDef>Наименование груза</th>
      <td mat-cell *matCellDef="let cargo">{{ cargo.name }}</td>
    </ng-container>
  
    <ng-container matColumnDef="Ставка, руб">
      <th mat-header-cell *matHeaderCellDef>Ставка, руб</th>
      <td mat-cell *matCellDef="let cargo">{{ cargo.bet }}</td>
    </ng-container>
  
    <ng-container matColumnDef="Действие">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let cargo">
          <button (click)="goToCargo(cargo.cargoId)" mat-stroked-button color="primary">
              Выбрать
          </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
  