<mat-card *ngIf="company && documentURLs; else loading">
  <mat-card-header>
    <mat-card-title>
      {{ company.companyName }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="tw-flex tw-gap-x-10">
      <div class="tw-flex tw-flex-col tw-gap-y-3">
        <img class="tw-h-[300px]" src="{{ documentURLs[0] }}" />
        <button (click)="showDocument(1)" mat-stroked-button color="primary">
          Свидетельство о регистрации 
        </button>
        <button (click)="showDocument(2)" mat-stroked-button color="primary">
          Свидетельство ИНН
        </button>
        <button (click)="showDocument(3)" mat-stroked-button color="primary">
          Реквизиты компании
        </button>
      </div>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Тип профиля</span>
          <span>{{company.userType}}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Страна</span>
          <span>{{company.companyCountry}}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Город</span>
          <span>{{company.companyCity}}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>E-mail</span>
          <span>{{company.companyEmail}}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Телефон</span>
          <span>{{company.companyPhone | mask: '+0(000)-000-00-00'}}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Код ATI</span>
          <span>{{company.companyATI}}</span>
        </mat-list-item>
      </mat-list>

      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Тип организации</span>
          <span>{{company.companyOrganisationType}}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Система налогооблажения</span>
          <span>{{company.companyTaxType}}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Работа с НДС</span>
          <span>{{company.companyVAT}}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>ИНН</span>
          <span>{{company.companyINN}}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>ОГРН</span>
          <span>{{company.companyORGN}}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>КПП</span>
          <span>{{company.companyKPP}}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #loading>
  <mat-spinner class="tw-m-auto tw-h-[600px]"></mat-spinner>
</ng-template>
