<div class="tw-flex tw-flex-col tw-h-full tw-items-center tw-justify-center">
  <mat-card class="tw-w-fit tw-p-5">
    <div class="tw-flex tw-flex-row tw-gap-x-5">
      <img
        class="tw-w-[450px]"
        src="../../../../assets/images/trucks.jpg"
        alt="trucks"
      />
      <div class="tw-w-[450px] tw-flex tw-flex-col tw-justify-between">
        <mat-card-header>
          <mat-card-title>Вход в транспортную систему</mat-card-title>
        </mat-card-header>
        <mat-card-content class="tw-mt-3">
          <form [formGroup]="form">
            <mat-form-field class="tw-w-full">
              <mat-label>Логин</mat-label>
              <input
                formControlName="userName"
                type="email"
                matInput
                required
                placeholder="Введи логин"
              />
              <mat-error *ngIf="form.controls['userName'].hasError('required')">
                Введи логин
              </mat-error>
            </mat-form-field>
            <mat-form-field class="tw-w-full">
              <mat-label>Пароль</mat-label>
              <input
                formControlName="password"
                type="password"
                minlength="6"
                matInput
                required
                placeholder="Введи пароль"
              />
              <mat-error *ngIf="form.controls['password'].hasError('required')">
                Введи пароль
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions class="tw-flex tw-gap-x-3 tw-mt-3 !tw-pb-0">
          <button
            (click)="login('signIn')"
            [disabled]="!form.valid"
            mat-flat-button
            color="primary"
          >
            Войти
          </button>
          <button
            (click)="login('signUp')"
            [disabled]="!form.valid"
            mat-stroked-button
          >
            Зарегестироваться
          </button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>

  <div class="tw-mt-5">
    <app-notification [message]="errorMessage"></app-notification>
  </div>
</div>
